*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

@font-face {
  font-family: "Inter medium";
  src: local("Inter-Medium"),
  url("./fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter regular";
  src: local("Inter-Regular"),
  url("./fonts/Inter-Regular.ttf") format("truetype");
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter regular", sans-serif;
  font-size: 1rem;
  background-color: #F5F5F5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  border-radius: .5rem;
  padding-left: 1rem;
  border: #C9CCD3 solid 1px;
  font-size: 0.8rem;
  width: 12rem;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}